@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$bg-body: #5B8FB9;
$white: #FFFFFF;
$cyan: #B6EADA;
$bg: #f1f1f1;
$paragraph: #301E67;
$text: #03001C;

$font-base: 16px;

$poppins: 'Poppins', sans-serif;

$pd-container: 30px;
